repos:

# sync pre-commit versions with poetyry.lock (doesn't work with all hooks)
-   repo: https://github.com/floatingpurr/sync_with_poetry
    rev: "1.2.1"
    hooks:
    -  id: sync_with_poetry

-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: "25.11.0"
    hooks:
    -  id: black

-   repo: https://github.com/PyCQA/docformatter
    rev: "v1.7.7"
    hooks:
    -  id: docformatter

-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    -  id: isort

-  repo: https://github.com/PyCQA/autoflake
   rev: "v2.3.1"
   hooks:
   -  id: autoflake
      args: [--in-place, --remove-all-unused-imports, --remove-unused-variables, --ignore-init-module-imports]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml

-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8

- repo: https://github.com/python-poetry/poetry
  rev: '2.2.1'
  hooks:
    - id: poetry-check
    # - id: poetry-lock  # a very time consuming hook, disable by default


- repo: https://github.com/python-poetry/poetry-plugin-export
  rev: '1.9.0'
  hooks:
    - id: poetry-export
      args: ["-f", "requirements.txt", "-o", "requirements.txt"]#
