name: Testing

on:
  push:
  pull_request:

permissions:
  contents: read

# TODO: create a new action that combines the python/poetry setup and install across both jobs

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
        poetry-version: ["2.2.1"]
        os: [ubuntu-latest, windows-latest, macos-latest]
    defaults:
      run:
        # required for poetry to work on windows
        shell: bash

    steps:
      - uses: actions/checkout@v5
      - name: "Setup Python, Poetry and Dependencies"
        uses: packetcoders/action-setup-cache-python-poetry@main
        with:
          python-version: ${{matrix.python-version}}
          poetry-version: ${{matrix.poetry-version}}

      - name: Test with pytest
        run: |
          poetry run coverage run -m pytest
